* {
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.game-area-top {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 20px;
    height: 75%;
    width: 90%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}


.leaderboard-container {
    background-color: blueviolet;
    color: white;

    font-size: 2rem;
    font-weight: bold;
    padding: 15px 100px;
    border-radius: 20px;
    justify-self: flex-start;
}

.game-choices {
    display: flex;
    flex-direction: row;
    margin: auto 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 35%;
}

.choice-container {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 15rem;
    border-radius: 30%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.choice-img {
    width: 100%;
    height: 100%;
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

.scissors-choice {
    background-image: url('./assets/imgs/scissors.svg');
}

.rock-choice {
    background-image: url('./assets/imgs/rock.svg'); 
}

.paper-choice {
    background-image: url('./assets/imgs/paper.svg'); 
}

.no-choice {
    background-image: url('./assets/imgs/question_mark.svg'); 
}

.choice-container h2 {
    display: flex;
    justify-content: end;
    flex: 2;
}

.choice-container:hover {
    width: 15.5rem;
    height: 15.5rem;
}

.choice-container:active {
    width: 14.5rem;
    height: 14.5rem;
}